$blue-color: #2B4ACB;
$blue-hover-color: #5273E0;

$green-color: #49AA19;
$green-hover-color: #6ABE39;

$orange-color: #faad14;

$red-color: #ff4d4f;
$red-hover-color: #E84749;

$white-color: #fff;
$black-color: #000;
$gray-color: #737373;
$gray-light-color: #F7F7F7;

$thumb-color: #E0E0E0;

$shadow-s: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
$shadow-m: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
$shadow: 0px 4px 8px 0px rgba(135, 140, 158, 0.08), 0px 0px 3px 0px rgba(135, 140, 158, 0.03);